section {
  height: 100%;
}

.kori {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  margin-left: -40%;
  margin-top: -145px;
  width: 80%;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

.icons {
  font-size: 1.5em;
  text-align: center;
}

a {
  color:#206cb1;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
  color:#185286;
}